body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../images/pexels-pixabay-262978.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#label-text {
    color: #fff;
}

.card-header {
    background-color: rgb(180, 0, 0);
    color: white;
}

#clear-btn {
    background-color: rgb(180, 0, 0);
    color: #fff;
}

#clear-btn:hover {
    background-color: rgb(145, 1, 1);
}

.navbar {
    background-color: rgb(180, 0, 0);
    color: white;
}

.navbar span {
    width: 100%;
    text-align: center;
    font-size: 30pt;
}

.first-row {
    margin-bottom: 100px;
}

.col-sm-4 {
    text-align: center;
}
form {
    margin: 0 auto;
}
.recipe-height {
    height: 70%;
    width: 70%;
    align-content: center;
}